p {
	font-family: Verdana;
	font-size: 17px;
	color: #E7DEDA;
	text-align: left;
	font-weight: bold;
}

#cssClass {
	font-family: Verdana;
	font-size: 17px;
	color: #E7DEDA;
	text-align: left;
	font-weight: bold;
}

red {
	font-family: Verdana;
	font-size: 17px;
	color: #ff6666;
	text-align: left;
	font-weight: bold;
}

green {
	font-family: Verdana;
	font-size: 17px;
	color: #66ff99;
	text-align: left;
	font-weight: bold;
}

blue {
	font-family: Verdana;
	font-size: 17px;
	color: #00ffff;
	text-align: left;
	font-weight: bold;
}